@charset "UTF-8";

/**
 * Technicolor
 *
 * A theme for Rainbow.js
 *
 * @author David Naber <kontakt@dnaber.de>
 */

pre {
	padding: .75em 1.625em;
	margin: 2em 0;
	background-color: #fdfdfd;
	font: .85em/1.3 Consolas, Courier, monospace;
	color: #000;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

pre .php-tag {
	background-color: rgba( 245, 245, 45, .7 );
	color: #000 !important;
}

pre .comment {
	color: #999;
}

pre .storage,
pre .keyword,
pre .constant {
	color: #040658;
}

pre .keyword.operator,
pre .keyword.dot {
	color: #000;
}

pre .variable {
	color: #3c44ea;
}

pre .string {
	color: #318006;
}

pre .constant.numeric {
	color: #c68e09;
}

/**
 * css specific
 */
pre code[data-language="css"] .keyword,
pre code[data-language="css"] .constant {
	color: #494cc6;
}

pre .tag {
	color: #040658;
}
pre .class,
pre .id{
	color: #dc2525;
}
pre .vendor-prefix {
	//color: #dcb325;
	font-style: italic;
}

/**
 * html
 */
pre .attribute {
	color: #494cc6;
}
